@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


#header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 15px;
  font-weight: bold;
  margin-left: 35px;
  color: #ffffff;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 10px;
}

.header-nav a {
  color: #ffffff;
}

#eyecatch {
  background: url(../img/eyecatch.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.eyecatch-logo p {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  top: 500px;
  left: 150px;
}

.news-title {
  color: black;
  background-color: #f2f2f2;
  position: absolute;
  padding: 10px;
  padding-right: 400px;
  bottom: 0;
  right: 0;
}
.news-logo {
  color: #f2f2f2;
  background-color: black;
  position: absolute;
  padding: 20px 50px 20px 50px;
  bottom: 0;
  right: 0;
}

#mission {
  position: relative;
  background: black;
  color: #f2f2f2;
  background-size: cover;
  background-position: center;
  height: 450px;
}

.mission-orange img {
  position: absolute;
  top: 120px;
  right: 20px;
  height: 370px;
  z-index: 100;
}

.mission-title p {
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 150px;
  left: 150px;
}

.mission-text p {
  font-size: 10px;
  position: absolute;
  top: 220px;
  left: 150px;
  z-index: 200;
}

.mission-button a {
  padding: 5px 10px;
  position: absolute;
  top: 290px;
  left: 150px;
  font-size: 10px;
  color: black;
  text-decoration: none;
  border: 1px #ffffff solid;
  background-color: #ffffff;
}
#service {
  position: relative;
  background: #cccccc;
  background-size: cover;
  height: 1300px;
  margin-top: 100px;
}

.service-top p {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.service-a {
  position: absolute;
  background: white;
  height: 150px;
  width: 400px;
  top: 200px;
  left: 250px;
  padding: 40px;
  z-index: 200;
}
.web-a {
  font-size: 5px;
  font-weight: bolder;
  line-height: 20px;
}
.coaching-mission P {
  font-size: 5px;
  line-height: 30px;
}
.coaching-text p {
  font-size: 5px;
  line-height: 15px;
}
.service-button-a a {
  position: absolute;
  font-size: 5px;
  color: #000000;
  text-decoration: none;
  border: 1px #000000 solid;
  background-color: #ffffff;
  padding: 5px 10px;
  left: 320px;
  margin: 5px;
}
.camera img {
  position: absolute;
  right: 0;
  top: 100px;
  height: 425px;
  z-index: 100;
}

.service-b {
  position: absolute;
  background: white;
  height: 150px;
  width: 400px;
  bottom: 250px;
  right: 260px;
  padding: 40px;
  z-index: 200;
}
.web-b {
  font-size: 5px;
  font-weight: bolder;
  line-height: 20px;
}
.coaching-mission P {
  font-size: 5px;
  line-height: 30px;
}
.coaching-text p {
  font-size: 5px;
  line-height: 15px;
}
.service-button-b a {
  position: absolute;
  font-size: 5px;
  color: #000000;
  text-decoration: none;
  border: 1px #000000 solid;
  background-color: #ffffff;
  padding: 5px 10px;
  left: 320px;
  margin: 5px;
}
.fire img {
  height: 350px;
  position: absolute;
  left: 0;
  bottom: 230px;
}

#company-wrap {
  position: relative;
  background: white;
  background-size: cover;
  height: 1000px;
  padding-top: 100px;
}
.company-bg img {
  position: absolute;
  height: 165px;
  width: 600px;
  left: 0;
  z-index: 100;
}

.company-logo a {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  z-index: 200;
  padding-top: 40px;
  left: 230px;
  text-decoration: none;
}
.company-text a {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  z-index: 200;
  left: 260px;
  padding-top: 80px;
  text-decoration: none;
}
.recruit-bg img {
  position: absolute;
  height: 165px;
  width: 600px;
  right: 0;
  z-index: 100;
}
.recruit-logo a {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  z-index: 200;
  right: 250px;
  padding-top: 45px;
  text-decoration: none;
}
.recruit-text a {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  z-index: 200;
  left: 940px;
  padding-top: 80px;
  text-decoration: none;
}
.FAQ {
  position: absolute;
  top: 400px;
  left: 225px;
  display: flex;
  background: #000000;
  width: 800px;
  height: 80px;
}
.FAQ-logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  left: 20px;
  top: 30px;
}
.FAQ a {
  position: absolute;
  top: 30px;
  left: 350px;
  color: #ffffff;
  text-decoration: none;
}

#contact-wrap {
  background: url(../img/contact-bg.jpg);
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 1265px;
}
.contact {
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
}
.contact-title {
  font-size: 25px;
  font-weight: bolder;
  line-height: 40px;
}
.contact-text-b {
  font-size: 35px;
  line-height: 80px;
}
.contact-text-c {
  font-size: 5px;
  line-height: 40px;
}
.contact-link {
  font-size: 15px;
  border: 1px #ffffff solid;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
}

#footer {
  height: 70px;
  background: #000;
  position: relative;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  font-size: 15px;
  font-weight: bold;
  margin-left: 35px;
  color: #ffffff;
}
.footer-nav ul {
  display: flex;
}
.footer-nav li {
  margin-right: 35px;
  font-size: 8px;
}
.footer-nav a {
  color: #f2f2f2;
}
.copyright p {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 470px;
}